div {
    display: flex;
    flex-direction: column;
    background-color: #555;
    height: 100%;
    width: 250px;
    color: #ddd;
    gap: 10px;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}